div#root
{
  margin: 35px;
}
th.MuiTableCell-root.MuiTableCell-body.custom {
  display: flex;
}
/* .MuiButtonBase-root
{
  background-color: brown;
} */
button.MuiButtonBase-root.MuiButton-root.MuiButton-outlined.MuiButton-outlinedSecondary {
  background-color: white;
}
.MuiDialogContent-root.MuiDialogContent-dividers {
  width: 432px;
}
